@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(/assets/background.jpg) no-repeat center black;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

/* avoid click and drag or select text */
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
p, h1, h2, h3, h4, h5, h6, span, img, a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dragging {
    /* pointer-events: none; */
}
.hidden {
    display: none;
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
}


/* RIGHT CLICK MODAL */
.modal-options {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9;
    border-radius: 0.2rem;
}
.modal-options ul {
    list-style-type: none;
    padding: 0.25rem 0;
    margin: 0;
}
.modal-options ul li {
    padding: 0.25rem .75rem;
    cursor: pointer;
}
.modal-options ul li:hover {
    background-color: rgba(0, 0, 0, .1);
}

.modal-content {
    max-width: 300px;
    margin: 0 auto;
}


/* CREATE MODAL */
.modal {
    /* display: none; */
}
.modal.show {
    display: block;
}
.modal .container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .container .modal-container {
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.modal .container .modal-container form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.modal .container .modal-container form input, 
.modal .container .modal-container form label {
    margin: .5rem 1rem;
}

/* MODAL ADD LIST */
.list-name-label#list-label {
    margin: 0;
    margin-bottom: 0.5rem;
}
.list-name-input#name-list-input {
    margin: 0;
    margin-bottom: 1rem;
}

/* MODAL ADD ITEM */
.custom-logo-label {
    display: block;
    width: calc(100% - 2.25rem);
    height: 100px;
    border: 2px dashed #aaa;
    text-align: center;
    cursor: pointer;
}
.custom-file-label {
    display: block;
    width: calc(100% - 2.25rem);
    height: 200px;
    border: 2px dashed #aaa;
    text-align: center;
    cursor: pointer;
}
#selected-logo {
    max-height: calc(100% - 1.1rem);
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
    display: block;
}
#selected-image {
    max-width: 100%;
    max-height: calc(100% - 20px);
    object-fit: contain;
    display: block;
}
#fileInput {
    display: none;
}

#preview-image {
    border-radius: 1rem;
}
#preview-item {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
#preview-item div {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.preview-container {
    display: flex;
    align-items: center;
}
.preview-item {
    margin-right: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-item img {
    width: 10rem;
    height: 10rem; 
    object-fit: cover;
}
.preview-item div {
    position: relative;
}
.preview-item div p {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    width: calc(100% - 2rem);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: lightgray;
    padding: .25rem 1rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#preview-item-name {
    margin: 0;
    margin-bottom: 4px;
}
#preview-favicon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    position: absolute;
}

#preview-expand {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
#preview-expand:hover {
    background-color: rgba(0, 0, 0, .1);
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-list {
    outline: none;
    border: none;
    background-color: transparent;
    padding: .5rem;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 20px;
    font-size: 1rem;
}
#add-list:hover {
    background-color: rgba(0, 0, 0, .1);
}

.profile, .middleNav, .otherInfos {
    width: 30%;
    padding: 10px 20px;
    display: flex;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}
.profile-info p {
    margin: 0;
}

/* CONTENT */
main {
    /* margin-top: 30vh; */
    margin-top: 4rem;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
}
.middleNav {
    justify-content: center;
}

.carousel-header .list-title {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-header .title-container {
    display: flex;
    align-items: center;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}
.carousel-header .carousel-controls {
    display: flex;
}
.button-expand {
    cursor: pointer;
}
.carousel-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .25rem;
}
.carousel-header button.button-expand {
    margin: 0;
}
.carousel-controls button:hover {
    background-color: rgba(0,0,0,.25);
}
.carousel-controls button.disabled {
    opacity: .5;
    cursor: initial;
}
.carousel-content {
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
}
.carousel-content::-webkit-scrollbar {
    display: none;
}

.items {

}
.items ul {
    height: 13rem;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.items ul li {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;
   margin-bottom: 2rem;
   transition: all .15s ease-in;
   min-width: 10rem;
   min-height: 10rem;
   border-radius: 1rem;
   box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.items ul li img {
   width: 2rem;
   height: 2rem; 
   object-fit: cover;
   transition: all .15s ease-in;
}
.items ul li div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}
.items ul li div .item-name {
    color: lightgray;
    padding: 0 1rem;
    margin: 0;
    font-size: 1rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.items ul li:hover {
    /* width: 14rem;
    height: 14rem; */
    transform: scale(1.1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* object-fit: cover; */
}
.items ul li:hover {
    /* margin: 0 2rem 0 2rem; */
}

.otherInfos {
    justify-content: flex-end;
}