body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(/assets/background.jpg) center black;
    background-position: center;
}

/* avoid click and drag or select text */
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
p, h1, h2, h3, h4, h5, h6, span, img, a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dragging {
    /* pointer-events: none; */
}
.hidden {
    display: none;
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
}


/* CREATE MODAL */
.modal {
    /* display: none; */
}
.modal.show {
    display: block;
}
.modal .container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .container .modal-container {
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.modal .container .modal-container form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.modal .container .modal-container form input, 
.modal .container .modal-container form label {
    margin: .5rem 1rem;
}

.custom-file-label {
    display: block;
    width: calc(100% - 2.25rem);
    height: 200px;
    border: 2px dashed #aaa;
    text-align: center;
    cursor: pointer;
}
#selected-image {
    max-width: 100%;
    max-height: calc(100% - 20px);
    object-fit: contain;
    display: block;
}
#fileInput {
    display: none;
}

#preview-item {
    width: 10rem;
    height: 10rem;
}
#preview-item div {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
}

.preview-container {
    display: flex;
    align-items: center;
}
.preview-item {
    margin-right: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-item img {
    width: 10rem;
    height: 10rem; 
    object-fit: cover;
}
.preview-item div {
    position: relative;
}
.preview-item div p {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
}
#preview-item-name {
    margin: 0;
    margin-bottom: 4px;
}
#preview-favicon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    position: absolute;
}

#preview-expand {
    padding: .5rem;
    cursor: pointer;
    height: calc(100% - 15px);
    display: flex;
    align-items: center;
}
#preview-expand:hover {
    background-color: rgba(0, 0, 0, .1);
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rem;
}

.profile, .middleNav, .otherInfos {
    width: 30%;
    padding: 10px 20px;
    display: flex;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* CONTENT */
main {
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
}
.middleNav {
    justify-content: center;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
}
.carousel-header .carousel-controls {
    display: flex;
}
.carousel-controls button {
    margin: 1rem;
    cursor: pointer;
}
.carousel-controls button.disabled {
    opacity: .5;
    cursor: initial;
}
.carousel-content {
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
}
.carousel-content::-webkit-scrollbar {
    display: none;
}

.items {

}
.items ul {
    height: 15rem;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.items ul li {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;
   transition: all .3s ease-in;
   min-width: 10rem;
   min-height: 10rem;
}
.items ul li img {
   width: 2rem;
   height: 2rem; 
   object-fit: cover;
   transition: all .3s ease-in;
}
.items ul li div p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
}
.items ul li div .item-name {
    margin: 0;
}
.items ul li:hover img {
    /* width: 15rem; */
    /* height: 15rem; */
    /* object-fit: cover; */
}
.items ul li:hover {
    /* margin: 0 2rem 0 2rem; */
}

.otherInfos {
    justify-content: flex-end;
}